infrastructure/step-function.json
{
  "Comment": "ML Training and Deployment Pipeline",
  "StartAt": "RunTraining",
  "States": {
    "RunTraining": {
      "Type": "Task",
      "Resource": "arn:aws:states:::ecs:runTask.sync",
      "Parameters": {
        "LaunchType": "FARGATE",
        "Cluster": "ml-training-cluster",
        "TaskDefinition": "ml-training-task",
        "NetworkConfiguration": {
          "AwsvpcConfiguration": {
            "Subnets.$": "$.subnets",
            "SecurityGroups.$": "$.securityGroups",
            "AssignPublicIp": "ENABLED"
          }
        },
        "Overrides": {
          "ContainerOverrides": [{
            "Name": "training",
            "Environment": [{
              "Name": "S3_MODEL_BUCKET",
              "Value.$": "$.s3Bucket"
            }, {
              "Name": "TIMESTAMP",
              "Value.$": "$.timestamp"
            }]
          }]
        }
      },
      "ResultPath": "$.trainingResult",
      "Next": "GetLatestModel"
    },
    "GetLatestModel": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:getItem",
      "Parameters": {
        "TableName": "MLModelRegistry",
        "Key": {
          "model_type": {"S": "simple-ml"}
        }
      },
      "ResultPath": "$.modelInfo",
      "Next": "CreateModel"
    },
    "CreateModel": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sagemaker:createModel",
      "Parameters": {
        "ModelName.$": "States.Format('ml-model-{}', $.timestamp)",
        "PrimaryContainer": {
          "Image.$": "$.servingImage",
          "Mode": "SingleModel",
          "Environment": {
            "MODEL_S3_PATH.$": "$.modelInfo.Item.s3_path.S"
          }
        },
        "ExecutionRoleArn.$": "$.sagemakerRoleArn"
      },
      "ResultPath": "$.modelResult",
      "Next": "CreateEndpointConfig"
    },
    "CreateEndpointConfig": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sagemaker:createEndpointConfig",
      "Parameters": {
        "EndpointConfigName.$": "States.Format('ml-config-{}', $.timestamp)",
        "ProductionVariants": [{
          "VariantName": "primary",
          "ModelName.$": "States.Format('ml-model-{}', $.timestamp)",
          "InstanceType": "ml.t2.medium",
          "InitialInstanceCount": 1
        }]
      },
      "ResultPath": "$.configResult",
      "Next": "CreateOrUpdateEndpoint"
    },
    "CreateOrUpdateEndpoint": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sagemaker:createEndpoint",
      "Parameters": {
        "EndpointName": "simple-ml-endpoint",
        "EndpointConfigName.$": "States.Format('ml-config-{}', $.timestamp)"
      },
      "End": true,
      "Catch": [{
        "ErrorEquals": ["States.ALL"],
        "Next": "UpdateEndpoint"
      }]
    },
    "UpdateEndpoint": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sagemaker:updateEndpoint",
      "Parameters": {
        "EndpointName": "simple-ml-endpoint",
        "EndpointConfigName.$": "States.Format('ml-config-{}', $.timestamp)"
      },
      "End": true
    }
  }
}